* {
    text-align: center;
}

h1 {
    font-size: 40px;
    border: 2px solid black;
    padding: 10px;
    color: tomato;
    background-color: cornsilk;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    color: aquamarine;
    background-color: dimgrey;
    font-size: 40px;
    
}

ul {
    color: darkgreen;
    font-size: 20px;
    background-color: lightyellow; /* Color de fondo */
    border: 2px solid darkgreen; /* Borde */
    border-radius: 10px; /* Borde redondeado */
    padding: 10px; /* Espaciado interno */
}

ul li:hover {
    background-color: lightgreen; /* Color de fondo al pasar el mouse */
}

h3 {
    color: honeydew;
    background: black;
}

time {
    color: darkcyan;
    font-size: 15px;
}

article {
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    border: 2px solid black;
    padding: 10px;
}

button {
    color: white;
    background-color: black;
    border-radius: 25px;
}

aside {
    color: blue;
}

blockquote {
    color: blue;
}

footer {
    color: cornflowerblue;
    font-size: 30px;
}
/* Se utiliza el "#" cuando es un id */
#id_pie_pagina_uce{
    color: tomato;
    font-size: 30px;
    background-color: cornsilk;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
