.container {
    display: flex; /* manipular el contenido del contenedor */
    justify-content: center;
    align-items: center;
}

body {
    background-color: #59ace365;
}

p:before {
    content: attr(type); /*Para que se muestre el atributo type*/
    display: block; /*Para que se muestre en una linea diferente cada elemento html*/
    margin: 3px;
    font-size: 17px;
    color: #5a5a5a;
}

input {
    width: 280px;
    border: none;
    border-bottom: 2px solid #bebed2;
    background: none; /*Para que no se muestre el fondo blanco*/
}

input:focus {
    outline: none; /*Para que no se muestre el borde al seleccionar el input*/
    border-bottom: 2px solid #b1b1c5;
}

h2 {
    margin: 10px auto; /*Margen arriba y abajo 10px y a los lados 2px*/
    width: 120px; /*Ancho*/
    color: #78788c;
    border-bottom: 3px solid #78788c;
    
}

.formulario-contenedor {
    width: 300px;
    background: #e6e6e6;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 15px 10px 5px 5px rgb(10, 10, 10); /*Sombra*/
}


.button-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}